Node-Red-Flow.json
[
    {
        "id":"ccc750c1.534f2",
        "type":"tab",
        "label":"Flow 2",
        "disabled":false,
        "info":""
    },
    {
        "id":"3cf11dc0.c30792",
        "type":"ui_form",
        "z":"ccc750c1.534f2",
        "name":"",
        "label":"",
        "group":"79cf8aec.b1ad14",
        "order":3,
        "width":"14",
        "height":"4",
        "options":
        [
            {
                "label":"Enter the input",
                "value":"Input",
                "type":"text",
                "required":true,
                "rows":null
            }
        ],
        "formValue":
        {
            "Input":""
        },
        "payload":"",
        "submit":"submit",
        "cancel":"cancel",
        "topic":"",
        "x":90,
        "y":300,
        "wires":[["732b7b06.c77154"]]
    },
    {
        "id":"732b7b06.c77154",
        "type":"function",
        "z":"ccc750c1.534f2",
        "name":"",
        "func":"msg={\n    discoveryparams:\n{\n    \"environment_id\":\"system\",\n    \"query\":msg.payload.Input\n}\n}\nreturn msg;",
        "outputs":1,
        "noerr":0,
        "x":230,
        "y":340,
        "wires":[["457f0e16.051fa"]]
    },
    {
        "id":"457f0e16.051fa",
        "type":"watson-discovery-v1",
        "z":"ccc750c1.534f2",
        "name":"discovery",
        "environmentname":"",
        "environmentId":"system",
        "collectionId":"news-en",
        "configurationname":"",
        "configurationId":"",
        "language_code":"en",
        "collection_name":"",
        "count":"1",
        "passages":true,
        "nlp_query":true,
        "query":"",
        "filter":"",
        "aggregation":"",
        "return":"",
        "description":"",
        "size":"LT",
        "discovery-method":"query",
        "service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/260463e6-9432-44ba-80e0-ef1a24051890",
        "x":380,
        "y":260,
        "wires":[["18a787eb.682258","58c504dd.ca10dc","ee8b01e6.7380c","ca6ed8f8.769ed8","52b604ed.54e95c","d6cc829c.51596","3b2b177f.687ae8"]]
    },
    {
        "id":"58c504dd.ca10dc",
        "type":"function",
        "z":"ccc750c1.534f2",
        "name":"text",
        "func":"msg.payload=msg.search_results.results[0].text\nreturn msg;",
        "outputs":1,
        "noerr":0,
        "x":590,
        "y":40,
        "wires":[["5de7fdbf.990d44","12d85f8f.ed003","87a39348.d680a"]]
    },
    {
        "id":"ee8b01e6.7380c",
        "type":"function",
        "z":"ccc750c1.534f2",
        "name":"author",
        "func":"msg.payload=msg.search_results.results[0].author\nreturn msg;",
        "outputs":1,
        "noerr":0,
        "x":590,
        "y":120,
        "wires":[["94eb370a.d8e968"]]
    },
    {
        "id":"ca6ed8f8.769ed8",
        "type":"function",
        "z":"ccc750c1.534f2",
        "name":"main page url",
        "func":"msg.payload=msg.search_results.results[0].main_image_url\nreturn msg;",
        "outputs":1,
        "noerr":0,
        "x":620,
        "y":160,
        "wires":[["341b5dfa.fbcc72"]]
    },
    {
        "id":"52b604ed.54e95c",
        "type":"function",
        "z":"ccc750c1.534f2",
        "name":"url",
        "func":"msg.payload=msg.search_results.results[0].url\nreturn msg;",
        "outputs":1
        ,"noerr":0,
        "x":590,
        "y":220,
        "wires":[["4b58e9d8.064db8"]]
    },
    {
        "id":"d6cc829c.51596",
        "type":"function",
        "z":"ccc750c1.534f2",
        "name":"score",
        "func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.score\nreturn msg;",
        "outputs":1,
        "noerr":0,
        "x":590,
        "y":260,
        "wires":[["bf5e5180.7c55e","d9f486d6.19adb8"]]
    },
    {
        "id":"3b2b177f.687ae8",
        "type":"function",
        "z":"ccc750c1.534f2",
        "name":"label",
        "func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.label\nreturn msg;",
        "outputs":1,
        "noerr":0,
        "x":590,
        "y":340,
        "wires":[["c535ff1.9ee7b"]]
    },
    {
        "id":"18a787eb.682258",
        "type":"debug",
        "z":"ccc750c1.534f2",
        "name":"",
        "active":true,
        "tosidebar":true,
        "console":false,
        "tostatus":false,
        "complete":"payload",
        "targetType":"msg",
        "x":360,
        "y":100,
        "wires":[]
    },
    {
        "id":"87a39348.d680a",
        "type":"sentiment",
        "z":"ccc750c1.534f2",
        "name":"",
        "property":"payload",
        "x":300,
        "y":520,
        "wires":[["7cef5fc8.591a2","2c4481ae.e41cae","9b4ddf98.31056","6e0f81b2.9ef8d"]]
    },
    {
        "id":"7cef5fc8.591a2",
        "type":"debug",
        "z":"ccc750c1.534f2",
        "name":"","active":true,
        "tosidebar":true,
        "console":false,
        "tostatus":false,
        "complete":"true",
        "targetType":"full",
        "x":390,
        "y":420,
        "wires":[]
    },
    {
        "id":"2c4481ae.e41cae",
        "type":"function",
        "z":"ccc750c1.534f2",
        "name":"sentiment",
        "func":"msg.payload=msg.sentiment.score;\nreturn msg;",
        "outputs":1,
        "noerr":0,
        "x":600,
        "y":440,
        "wires":[["8f645ef4.bd907"]]
    },
    {
        "id":"9b4ddf98.31056",
        "type":"function",
        "z":"ccc750c1.534f2",
        "name":"positive",
        "func":"msg.payload=msg.sentiment.positive.length;\nreturn msg;",
        "outputs":1,
        "noerr":0,
        "x":600,
        "y":500,
        "wires":[["cea6ee5f.cbdc2"]]
    },
    {
        "id":"6e0f81b2.9ef8d",
        "type":"function",
        "z":"ccc750c1.534f2",
        "name":"negative",
        "func":"msg.payload=msg.sentiment.negative.length;\nreturn msg;",
        "outputs":1,
        "noerr":0,
        "x":600,
        "y":560,
        "wires":[["4c3a281c.a53698"]]
    },
    {
        "id":"8f645ef4.bd907",
        "type":"ui_chart",
        "z":"ccc750c1.534f2",
        "name":"",
        "group":"79cf8aec.b1ad14",
        "order":11,
        "width":"3",
        "height":"5",
        "label":"sentiment score",
        "chartType":"bar",
        "legend":"false",
        "xformat":"HH:mm:ss",
        "interpolate":"linear",
        "nodata":"",
        "dot":false,
        "ymin":"-2",
        "ymax":"2",
        "removeOlder":1,
        "removeOlderPoints":"",
        "removeOlderUnit":"3600",
        "cutout":0,
        "useOneColor":true,
        "useUTC":false,
        "colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],
        "useOldStyle":false,
        "outputs":1,
        "x":800,
        "y":440,
        "wires":[[]]
    },
    {
        "id":"cea6ee5f.cbdc2",
        "type":"ui_chart",
        "z":"ccc750c1.534f2",
        "name":"",
        "group":"79cf8aec.b1ad14",
        "order":12,
        "width":"3",
        "height":"5",
        "label":"positive chart",
        "chartType":"bar",
        "legend":"false",
        "xformat":"HH:mm:ss",
        "interpolate":"linear",
        "nodata":"",
        "dot":false,
        "ymin":"-2",
        "ymax":"2",
        "removeOlder":1,
        "removeOlderPoints":"",
        "removeOlderUnit":"3600",
        "cutout":0,
        "useOneColor":true,
        "useUTC":false,
        "colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],
        "useOldStyle":false,
        "outputs":1,
        "x":790,
        "y":500,
        "wires":[[]]
    },
    {
        "id":"4c3a281c.a53698",
        "type":"ui_chart",
        "z":"ccc750c1.534f2",
        "name":"",
        "group":"79cf8aec.b1ad14",
        "order":13,
        "width":"3",
        "height":"5",
        "label":"negative chart",
        "chartType":"bar",
        "legend":"false",
        "xformat":"HH:mm:ss",
        "interpolate":"linear",
        "nodata":"",
        "dot":false,
        "ymin":"-2",
        "ymax":"2",
        "removeOlder":1,
        "removeOlderPoints":"",
        "removeOlderUnit":"3600",
        "cutout":0,
        "useOneColor":true,
        "useUTC":false,
        "colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],
        "useOldStyle":false,
        "outputs":1,
        "x":800,
        "y":560,
        "wires":[[]]
    },
    {
        "id":"5de7fdbf.990d44",
        "type":"ui_text",
        "z":"ccc750c1.534f2",
        "group":"79cf8aec.b1ad14",
        "order":4,
        "width":"14",
        "height":"2",
        "name":"",
        "label":"search result",
        "format":"{{msg.payload}}",
        "layout":"row-spread",
        "x":790,
        "y":40,
        "wires":[]
    },
    {
        "id":"94eb370a.d8e968",
        "type":"ui_text",
        "z":"ccc750c1.534f2",
        "group":"79cf8aec.b1ad14",
        "order":5,
        "width":"14",
        "height":"2",
        "name":"",
        "label":
        "author",
        "format":"{{msg.payload}}",
        "layout":"row-spread",
        "x":770,
        "y":120,
        "wires":[]
    },
    {
        "id":"341b5dfa.fbcc72",
        "type":"ui_text",
        "z":"ccc750c1.534f2",
        "group":"79cf8aec.b1ad14",
        "order":6,
        "width":"14",
        "height":"2",
        "name":"",
        "label":"main url page",
        "format":"{{msg.payload}}",
        "layout":"row-spread",
        "x":800,
        "y":160,
        "wires":[]
    },
    {
        "id":"4b58e9d8.064db8",
        "type":"ui_text",
        "z":"ccc750c1.534f2",
        "group":"79cf8aec.b1ad14",
        "order":7,
        "width":"14",
        "height":"2",
        "name":"",
        "label":"url",
        "format":"{{msg.payload}}",
        "layout":"row-spread",
        "x":770,
        "y":220,
        "wires":[]
    },
    {
        "id":"bf5e5180.7c55e",
        "type":"ui_text",
        "z":"ccc750c1.534f2",
        "group":"79cf8aec.b1ad14",
        "order":8,
        "width":"14",
        "height":"2",
        "name":"",
        "label":"score",
        "format":"{{msg.payload}}",
        "layout":"row-spread",
        "x":770,
        "y":260,
        "wires":[]
    },
    {
        "id":"c535ff1.9ee7b",
        "type":"ui_text",
        "z":"ccc750c1.534f2",
        "group":"79cf8aec.b1ad14",
        "order":9,
        "width":"14",
        "height":"2",
        "name":"",
        "label":"label",
        "format":"{{msg.payload}}",
        "layout":"row-spread",
        "x":770,
        "y":340,
        "wires":[]
    },
    {
        "id":"d9f486d6.19adb8",
        "type":"ui_gauge",
        "z":"ccc750c1.534f2",
        "name":"",
        "group":"79cf8aec.b1ad14",
        "order":10,
        "width":0,
        "height":0,
        "gtype":"gage",
        "title":"sentimental score",
        "label":"units",
        "format":"{{value}}",
        "min":"-2",
        "max":"2",
        "colors":["#00b500","#e6e600","#ca3838"],
        "seg1":"",
        "seg2":"",
        "x":890,
        "y":300,
        "wires":[]
    },
    {
        "id":"12d85f8f.ed003",
        "type":"debug",
        "z":"ccc750c1.534f2",
        "name":"",
        "active":true,
        "tosidebar":true,
        "console":false,
        "tostatus":false,
        "complete":"true",
        "targetType":"full",
        "x":870,
        "y":80,
        "wires":[]
    },
    {
        "id":"79cf8aec.b1ad14",
        "type":"ui_group",
        "z":"",
        "name":"IBM",
        "tab":"56d71883.a4f1f8",
        "order":1,
        "disp":true,
        "width":"14",
        "collapse":false
    },
    {
        "id":"56d71883.a4f1f8",
        "type":"ui_tab",
        "z":"",
        "name":"IBM",
        "icon":"dashboard",
        "disabled":false,
        "hidden":false
    }
]